.homesection {
    /* height: 100vh !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
}

.rowimg img{ 
    height: 300px;
    width: 300px;
    border-radius: 20px;
    position: relative;
    animation: mymove 5s infinite;
    -webkit-box-reflect: below;
    opacity: 25%;
    /* -webkit-backdrop-filter: blur(25%); */
}

@keyframes mymove {
    /* to{box-shadow: 20px 20px 50px 15px grey;} */
    /* to{box-shadow: 10px 10px 10px 10px;} */
  }

.img1 {
    margin-top: 130px;
    animation-timing-function: ease-in-out;
    
}

.img2 {
    margin-top: 270px;
    animation-timing-function: ease-in-out;
}

.img3 {
    margin-top: 420px;
    animation-timing-function: ease-in-out;
}
.imgm{
    height: 300px;
    width: 300px;
    background: none;
    border-radius: 20px;
    margin-top: 420px;
    cursor: pointer;
}
