.section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
}
.navbar{
background: rgb(198,200,204);
background: linear-gradient(90deg, rgba(198,200,204,1) 0%, rgba(154,161,167,1) 68%, rgba(148,152,153,1) 100%);
/* border-bottom: 25px; */
border-radius: 0px 0px 25px 25px;

}
.mlink{
  margin-left:  20px;
  padding: 20px;
  text-decoration: none;
}
.mfont{
 color: azure;
 font-size: x-large;
}
.mlink:hover{
  color: rgb(234, 94, 122);
}
.logoimg{
  height: 150px;
  width: 200px;
}
/* .logoimg:hover{
  transform: scale(1.5);
} */